<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Divisiones NFL</title>
  <link rel="stylesheet" href="./../css/fa.css" />
</head>

<body>

  <header>
    <h1 id="tituloConferencia">Conferencia</h1>
    <p>Selecciona una división</p>
  </header>

  <section id="divisionesContainer" class="continente"></section>

  <footer>
    <button id="volverBtn">⬅ Volver</button>
  </footer>

  <script src="./../js/conferencia_fa.js"></script>

</body>
</html>
