<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Equipos</title>
  <link rel="stylesheet" href="./../css/equipo.css" />
</head>
<body>
  <header>
    <h1 id="nombreLiga">Equipos</h1>
    <div class="logo-titulo">
        <img id="logoLiga" src="" alt="Logo de la liga">
        <p id="descripcionLiga">Selecciona un equipo para ver detalles</p>
        <div class="buscador-contenedor">
          <input id="buscadorEquipos" type="text" placeholder="Buscar equipo..." />
        </div>

        <p id="totalEquipos" class="total-equipos"></p>
    </div>
  </header>

  <main id="equiposContainer">
    <!-- Cards de equipos -->
  </main>

  <footer>
    <button id="volverBtn">⬅ Volver a Ligas</button>
  </footer>

  <script src="./../js/equipo.js"></script>
</body>
</html>
