<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equipos NFL</title>
  <link rel="stylesheet" href="./../css/fa.css">
</head>

<body>

  <header>
    <h1 id="tituloDivision">Equipos</h1>
    <p>Selecciona un equipo para ver detalles</p>
  </header>

  <main id="equiposContainer" class="contenedor-cards"></main>

  <footer>
    <button id="volverBtn">⬅ Volver</button>
  </footer>

  <script src="./../js/equipos_fa.js"></script>

</body>
</html>
