<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fútbol Americano - Conferencias</title>
    <link rel="stylesheet" href="./../css/fa.css" />
</head>

<body>

    <header>
        <h1>Fútbol Americano (NFL)</h1>
        <p>Selecciona una conferencia</p>
    </header>

    <main class="contenedor-cards" id="conferenciasContainer"></main>

    <footer>
        <button id="volverBtn">⬅ Volver atrás</button>
    </footer>

    <script src="./../js/fa.js"></script>

</body>

</html>