<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ligas de Fútbol</title>
  <link rel="stylesheet" href="./../css/futbol.css" />
</head>

<body>

  <header>
    <h1>Ligas de Fútbol</h1>
    <p>Selecciona una liga para ver sus equipos</p>
  </header>

  <!-- Buscador -->
  <div class="buscador-container">
    <input type="text" id="buscadorLigas" placeholder="Buscar liga o país...">
  </div>

  <main class="contenedor-cards" id="ligasContainer">
    <!-- Las ligas se cargarán aquí dinámicamente -->
  </main>

  <a class="selecciones" href="./selecciones.html">
    Selecciones
    <div class="flags">
      <img src="https://flagcdn.com/w40/ar.png" alt="Argentina">
      <img src="https://flagcdn.com/w40/fr.png" alt="Francia">
      <img src="https://flagcdn.com/w40/us.png" alt="Estados Unidos">
      <img src="https://flagcdn.com/w40/ci.png" alt="Costa de Marfil">
      <img src="https://flagcdn.com/w40/kr.png" alt="Corea del Sur">
    </div>
  </a>
    
  <section class="continente">
  </section>

  <footer>
    <button id="volverBtn">⬅ Volver al inicio</button>
  </footer>

  <script src="./../js/futbol.js"></script>

</body>

</html>