<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jugadores del Equipo</title>
  <link rel="stylesheet" href="./../css/jugadores_campo.css">
  <style>

  </style>
</head>

<body>
 <header>
    <h1 id="tituloEquipo">Jugadores</h1>
    <p>Selecciona un jugador para ver detalles</p>
  </header>

  <div class="buscador-container">
    <input type="text" id="buscadorJugadores" placeholder="Buscar jugador...">
  </div>

  <div id="jugadoresContainer" class="jugadores-grid">
    <div class="loading">Cargando jugadores</div>
  </div>

  <button id="volverBtn">⬅ Volver</button>

  <div id="playerModal" class="modal hidden">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>

      <div class="modal-header">
        <img id="modalImg" src="" alt="Jugador" />
        <h2 id="modalNombre"></h2>
        <p id="modalPos"></p>
      </div>

      <div class="modal-info">
        <p><strong>Nacionalidad:</strong> <span id="modalNac"></span></p>
        <p><strong>Fecha de nacimiento:</strong> <span id="modalFecha"></span></p>
        <p><strong>Número:</strong> <span id="modalNum"></span></p>
        <p><strong>Estado:</strong> <span id="modalEstado"></span></p>
        <p><strong>Altura:</strong> <span id="modalAltura"></span></p>
        <p><strong>Peso:</strong> <span id="modalPeso"></span></p>
      </div>

      <div class="modal-extra">
        <div class="stats-block club">
          <h3>Club</h3>
          <p><strong>Partidos:</strong> <span id="modalPartidosClub"></span></p>
          <p><strong>Goles:</strong> <span id="modalGolesClub"></span></p>
          <p><strong>Asistencias:</strong> <span id="modalAsistClub"></span></p>
        </div>

        <div class="stats-block seleccion">
          <h3>Selección</h3>
          <p><strong>Partidos:</strong> <span id="modalPartidosSel"></span></p>
          <p><strong>Goles:</strong> <span id="modalGolesSel"></span></p>
          <p><strong>Asistencias:</strong> <span id="modalAsistSel"></span></p>
        </div>
      </div>

      <div class="historial-container">
          <h3>Historial Competitivo</h3>

          <div class="tabla-wrapper">
            <table class="tabla-historial">
              <thead>
                <tr>
                  <th>Liga</th>
                  <th>Temporada</th>
                  <th>Equipo / Selección</th>
                  <th>Partidos</th>
                  <th>Goles</th>
                  <th>Asistencias</th>
                </tr>
              </thead>

              <tbody id="tablaHistorialBody">
                <!-- Aquí se insertan filas con JS -->
              </tbody>
            </table>
          </div>
      </div>

    </div>
  </div>

  <script src="./../js/jugadores_fu.js"></script>
</body>

</html>