<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Selecciones del Mundo</title>
  <link rel="stylesheet" href="./../css/selecciones.css">
</head>
<body>

  <header>
    <h1>Selecciones de Fútbol</h1>

    <select id="filtroConfederacion">
      <option value="TODAS">Todas las Confederaciones</option>
      <option value="UEFA">UEFA</option>
      <option value="CONMEBOL">CONMEBOL</option>
      <option value="CONCACAF">CONCACAF</option>
      <option value="CAF">CAF</option>
      <option value="AFC">AFC</option>
      <option value="OFC">OFC</option>
    </select>

    <!-- 🔎 Buscador -->
    <input type="text" id="buscador" placeholder="Buscar selección...">
  </header>

  <main id="contenedorSelecciones"></main>

  <footer>
    <button id="volverBtn">⬅ Volver</button>
  </footer>

  <script src="./../js/selecciones.js"></script>
</body>
</html>
